// swagger나 postman으로 api 문서를 공유해준다.
//자바는 타입이 정확히 정해져 있기 때문에 swagger같은 애들이 필요가 없음
//typeORM은 JPA와 많이 비슷함
//express는 미들웨어에서 다양한 기능들을 사용해서 사실 뭘...정확하게 하는지 구별이 안되는데 (너무 많은 기능들) -> 정확하게 얘가 어떤 기능을 해야할지 정의할 수 있도록 분명하게 해주는게 네스트임 
// 모듈을 여러개 연결하여 (의존성)을 통하여 하나의 거대한 모듈을 맞춰가는 방식
//Interceptors : 어노테이션 
//mysql2 : mysql 드라이버

